.header-features {
  display: flex;
  background: #1c1e50;
  margin: 0;
  gap: 50px;
  padding: 100px;

  .header-text-features {
    display: flex;
    flex-direction: column;
    color: white;
    width: 550px;

    h1 {
      font-size: 55px;
      margin: 0;
    }

    button {
      width: 220px;
      height: 60px;
      margin: 0;
      border: none;
      border-radius: 30px;
      background: #f6da8c;
    }
  }

  .header-img-features {
    img {
      width: 600px;
    }
  }
}
