.header-features {
  display: flex;
  background: #21234e;
  margin: 0;
  gap: 50px;
  padding: 100px;

  .header-text-features {
    display: flex;
    flex-direction: column;
    color: white;
    width: 550px;

    h1 {
      font-size: 55px;
      margin: 0;
      max-width: 500px;
    }
  }

  .header-img-features {
    img {
      width: 600px;
    }
  }
}

.viewpricing-features {
  width: 150px;
  padding: 15px;
  text-align: center;
  border: none;
  border-radius: 30px;
  background: #fcd980;
  text-decoration: none;
  font-size: 16px;
  color: black;
  margin-top: 15px;
}
