.ourprojects {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .projects-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 1300px;
    h2 {
      font-size: 36px;
    }
    a {
      color: black;
      text-decoration: none;
      margin-right: 50px;
    }
  }
}

.all-cards {
  width: 1300px;
  display: flex;
  align-items: center;
  .big-card {
    img {
      width: 840px;
    }
  }
  .small-cards {
    display: flex;
    flex-direction: column;
    .small-card {
      margin: 20px;
      img {
        width: 400px;
      }
    }
  }
}
