.hero-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  background: #21234e;
  color: white;
  padding-bottom: 120px;
}

.hero-text {
  margin-left: 120px;
  width: 550px;
  h1 {
    font-size: 55px;
  }
  h3 {
    font-size: 15px;
    font-weight: normal;
    color: #babbca;
  }
}

.hero-buttons {
  display: flex;
  align-items: center;
  .pricing {
    margin-top: 20px;
    color: white;
    text-decoration: none;
  }
}

.hero-img img {
  margin-top: 40px;
  width: 650px;
}

.viewourwork {
  margin-top: 20px;
  text-decoration: none;
  padding: 15px 38px;
  background: #fcd980;
  border-color: transparent;
  border-radius: 30px;
  color: black;
  margin-right: 30px;
  cursor: pointer;
}

.viewourwork:active {
  color: black;
}

.viewourwork:visited {
  color: black;
}
