.navigation {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #21234e;
}

.navlinks {
  margin: 20px;
  color: white;
  list-style: none;
  text-decoration: none;
}

img {
  width: 200px;
}

.footer-copyright {
  color: white;
}
