.navigation {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #1c1e53;
}

.navlinks {
  margin: 20px;
  color: white;
  list-style: none;
  text-decoration: none;
}

img {
  width: 200px;
}
