.blog-ending {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 30px;
  h3 {
    align-self: flex-start;
    max-width: 1300px;
    padding-left: 120px;
    padding-bottom: 20px;
    font-size: 32px;
  }

  .blog-grids-home {
    max-width: 1300px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding-bottom: 40px;

    .blog-grid-card {
      img {
        width: 400px;
      }
      h6 {
        font-size: 22px;
        margin-top: 3px;
        margin-bottom: 3px;
      }

      button {
        background: none;
        border: none;
        cursor: pointer;
        margin: 0;
        padding: 0;
        font-weight: bold;
      }
    }
  }
}

.contact-us-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;

  h3 {
    font-size: 36px;
    margin-top: 40px;
    margin-bottom: 0;
  }

  .contactus-form {
    padding: 100px;
    width: 800px;
    background: #f4f6fc;
    border-radius: 30px;

    form {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      align-items: center;
      justify-content: center;
      border-radius: 20px;

      label {
        display: flex;
        flex-direction: column;

        input {
          padding: 20px;
          background: transparent;
          border: solid 1px #d6d8dd;
          border-radius: 8px;
        }

        textarea:focus,
        input:focus {
          color: black;
          outline: none;
        }
      }
    }
  }
}

.inputofcontact {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 20px;

  input {
    padding: 20px;
    background: transparent;
    border: solid 1px #d6d8dd;
    border-radius: 8px;
    width: 750px;
  }

  textarea:focus,
  input:focus {
    color: black;
    outline: none;
  }

  p {
    align-self: flex-start;
  }

  button {
    margin-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    align-self: flex-start;
    background: black;
    color: white;
    border-radius: 20px;
    border: none;
    cursor: pointer;
  }
}

.portfolio-page-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .portfolio-hero-container {
    width: 100%;
    background: #f4f6fb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .portfolio-hero-main {
      width: 720px;
      text-align: center;
      padding: 55px;

      h2 {
        font-size: 54px;
        margin: 5px;
      }
    }

    .portfolio-social-logos {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      padding: 20px;

      img {
        width: 20px;
        cursor: pointer;
      }
    }
  }

  .templates-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    .portfolio-template {
      padding: 10px;
      max-width: 600px;

      h3 {
        font-size: 32px;
        margin-top: 10px;
        margin-bottom: 5px;
      }

      p {
        max-width: 550px;
      }
      a {
        text-decoration: none;
      }

      a:active {
        color: black;
      }
      a:visited {
        color: black;
      }

      .template-img {
        img {
          width: 550px;
        }
      }
    }
  }
}

.work-categories {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  gap: 40px;
  a {
    text-decoration: none;
  }

  a:active {
    color: black;
  }

  a:visited {
    color: black;
  }
}

.portfolio-ending {
  max-width: 800px;
  padding: 40px;
  margin-bottom: 40px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h2 {
    font-size: 48px;
    margin: 5px;
  }

  p {
    max-width: 600px;
  }

  button {
    background: #fcd980;
    color: black;
    padding: 20px 50px;
    margin: 20px 0;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    font-weight: bold;
  }
}

.template-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .template-hero {
    padding: 30px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
      margin: 0;
      font-size: 42px;
      width: 600px;
    }

    p {
      width: 900px;
    }

    .template-page-img {
      align-self: center;

      img {
        width: 900px;
      }
    }
  }

  .template-info {
    width: 59vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    span {
      font-weight: bold;
    }
    .template-client-info {
      display: flex;
      flex-direction: column;
    }
    .template-client-service {
      display: flex;
      flex-direction: column;
    }
    .template-client-deliverable {
      display: flex;
      flex-direction: column;
    }
  }
  hr {
    width: 59vw;
    border: 1px solid black;
  }
  .about-project {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 700px;
    ul {
      width: 700px;
    }
    img {
      width: 700px;
    }
    h3 {
      font-size: 32px;
      margin: 5px 0;
    }
  }
  .template-keywords {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    h6 {
      color: #2405f2;
      font-size: 20px;
    }
  }
}

.readblog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .read-blog-content {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    h3 {
      font-size: 36px;
      max-width: 850px;
    }

    p {
      max-width: 850px;
    }

    ul {
      text-decoration: none;
      margin: 0;
      padding: 20px;
    }

    .read-blog-img {
      width: 850px;
      margin-top: 20px;
      img {
        width: 100%;
      }
    }
  }
}
