.footer-component-container {
  background: #21234e;
}
.footer-top-container {
  width: 1300px;
  padding-top: 30px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  .footer-hero {
    padding-bottom: 30px;
    max-width: 400px;
    .footer-logo-container {
      margin-left: 10px;
    }
    p {
      padding: 0 0 0 12px;
    }
  }
  .footer-contacts {
    max-width: 500px;
    background: #f6da8c;
    color: black;
    display: flex;
    margin-left: 12px;
    padding-right: 100px;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    gap: 40px;
    h6 {
      font-size: 26px;
      margin: 0;
    }
  }
}

.footer-container-right {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  margin-right: 200px;
  h2 {
    font-size: 36px;
    margin: 0;
  }
  p {
    max-width: 380px;
    font-size: 16px;
    color: #c9cbda;
  }
  .footer-social-icons {
    display: flex;
    gap: 30px;
    margin-top: 20px;
    img {
      max-width: 20px;
      cursor: pointer;
    }
  }
}

.footer-ending {
  background: white;
  padding-left: 80px;
  padding-right: 120px;
  padding-top: 40px;
  padding-bottom: 40px;
}
