.inquiry-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1c1e53;
  width: 1080px;
  margin: 100px;
  font-family: Arial, Helvetica, sans-serif;
  form {
    color: white;
    width: 540px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 20px;
    h5 {
      max-width: 400px;
      font-size: 26px;
      margin: 0;
      font-weight: normal;
    }
    p {
      max-width: 400px;
    }
    gap: 20px;
  }
}

.inquiry-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 540px;
  height: 540px;
  background-image: url("https://images.pexels.com/photos/3228878/pexels-photo-3228878.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-size: 672px 448px;
  background-position: center;
  background-size: cover;
  margin: 0;
  color: white;
  h3 {
    font-size: 48px;
    max-width: 400px;
  }
  p {
    max-width: 400px;
  }
}
